@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    text-align: center;
    background: #a2d2ff;
}
h1 {
    text-align: center;
}
.my-apps {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apps-list {    
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;   
}

a {
    text-decoration: none;
    margin: 10px 30px;
    color: black;
}